# Copyright (c) 2024-2026 Hemi Labs, Inc.
# Use of this source code is governed by the MIT License,
# which can be found in the LICENSE file.

name: NPM Publish

on:
  workflow_call:
    inputs:
      fetch-depth:
        description: Number of commits to fetch. 0 indicates all history for all branches and tags.
        default: 1
        type: number
      package-manager:
        description: The package manager to use (npm, pnpm).
        default: "npm"
        type: string

jobs:
  publish-to-npm:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: ${{ inputs.fetch-depth }}
      - uses: hemilabs/actions/setup-node-env@dbe5c7bf1c9de8910bd0268ac55a4e8043ef8a2d # v2.0.0
        with:
          package-manager: ${{ inputs.package-manager }}
      # The below commands can be run with either npm or pnpm, as both support the same CLI
      - run: npm run --if-present prepublishOnly
      # Provenance is enabled by default in trusted publishing
      # See https://docs.npmjs.com/trusted-publishers#supported-cicd-providers
      - run: npm publish --access public
